<h1>Hravé Mzdy</h1>
<p>
  This is a start page for the
  <a href="http://hravemzdy.org/">Hravé Mzdy</a>
  payroll application.
</p>
<%= form_for(:payroll_task) do |f| %>
  <fieldset>
    <legend>Payroll task</legend>
    <ol>
      <li>
        <%= f.label :description %>
        <%= f.text_field :description %>
      </li>
      <li>
        <%= f.label :payroll_period %>
        <%= f.collection_select(:payroll_period, PayrollPeriod.all, :code, :name) %>
      </li>
    </ol>
  </fieldset>
  <%= f.submit "Calculate payroll" %>

<% end %>
