<section id="payroll_results">
  <%= yield %>
  <header><h1 class="ir" id="results">Payroll Results</h1></header>
  <%= render partial: 'payroll/results' %>
</section>
<section id="pyg_app_reference">
  <div>
    <%= button_to "Start again", :new_payroll_task, method: 'get', id: 'again_payroll_task' %>
    <%= link_to(content_tag(:canvas, "Canvas is not supported in your browser ! :(",
                            :id => "again_tpbtag", :width => "162", :height => "88"),
                :new_payroll_task, method: 'get', title: "Start again") %>
  </div>
  <p>
    This is a show pdf report for
    <%= link_to('this payslip ', download_payroll_task_path(@payroll_task)) %>
    the above shown.
  </p>
</section>
<script>
    $(function(){
        var srcbtag = "<%= image_path("brandtag.png") %>";
        var plbtag = document.getElementById('again_tpbtag');
        kresliBrandTag(plbtag, srcbtag);
    });
</script>
